[flake8]
exclude =
    .git,
    __pycache__,
    .venv,
    .env,
    build,
    dist,
    *.egg-info,
    .pytest_cache,
    .ipynb_checkpoints,
    *_backup.py,
    *_old.py
ignore =
    E203,
    W503,
    F401,
    F541,
    W291,
    W293,
    W292,
    E221,
    E702,
    E231,
    E501
